<div class="card">
    <div class="card-header">
        <h4>Ürünler</h4>
    </div>

    <div class="card-body">
        <div>
            <input type="text" [(ngModel)]="productName" placeholder="Ürün Adı">

            <select [(ngModel)]="productColorId">
                <option [value]="0">Renk Seçiniz</option>
                <option *ngFor="let color of colors" [value]="color.id">{{color.name}}</option>
            </select>

            <input type="text" [(ngModel)]="productSize" placeholder="Beden (1=Small/2=Medium/3=Large/4=XLarge)">

            <button type="button" (click)="addProduct()">
                Ürün Ekle
            </button>

            <button type="button" (click)="updateProduct()">
                Ürünü Güncelle
            </button>

            <button type="button" (click)="openColorDialog()">
                Renkleri Düzenle
            </button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Ürün ID</th>
                    <th>Ürün Adı</th>
                    <th>Renk</th>
                    <th>Beden Bilgisi</th>
                    <th>Ürün İşlemleri</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{getColorName(product.colorId)}}</td>
                    <td>{{product.size}}</td>
                    <td>
                        <button type="button" (click)="selectProduct(product)">
                            Ürünü Düzenle
                        </button>

                        <button type="button" (click)="deleteProduct(product)">
                            Ürünü Sil
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>