<div class="card">
    <div class="card-header">
        <h4>Renkler</h4>
    </div>

    <div class="card-body">
        <div>
            <input type="text" [(ngModel)]="colorName" placeholder="Renk Adı">

            <button *ngIf="checkClaim('CreateColorCommand')" type="button" (click)="addColor()">
                Renk Ekle
            </button>

            <button *ngIf="checkClaim('UpdateColorCommand')" type="button" (click)="updateColor()">
                Rengi Güncelle
            </button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Renk ID</th>
                    <th>Renk Adı</th>
                    <th>Renk İşlemleri</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let color of colors">
                    <td>{{color.id}}</td>
                    <td>{{color.name}}</td>
                    <td>
                        <button *ngIf="checkClaim('UpdateColorCommand')" type="button" (click)="selectColor(color)">
                            Rengi Düzenle
                        </button>

                        <button *ngIf="checkClaim('DeleteColorCommand')" type="button" (click)="deleteColor(color)">
                            Rengi Sil
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>