<div class="card">
    <div class="card-header">
        <h4>Müşteriler</h4>
    </div>

    <div class="card-body">
        <div>
            <input type="text" [(ngModel)]="customerName" placeholder="Müşteri Adı">
            <input type="text" [(ngModel)]="customerCode" placeholder="Müşteri Kodu">
            <input type="text" [(ngModel)]="address" placeholder="Adres">
            <input type="text" [(ngModel)]="phoneNumber" placeholder="Telefon No">
            <input type="text" [(ngModel)]="email" placeholder="E-mail">

            <button *ngIf="checkClaim('CreateCustomerCommand')" type="button" (click)="addCustomer()">
                Müşteri Ekle
            </button>

            <button *ngIf="checkClaim('UpdateCustomerCommand')" type="button" (click)="updateCustomer()">
                Müşteriyi Güncelle
            </button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Müşteri ID</th>
                    <th>Müşteri Adı</th>
                    <th>Müşteri Kodu</th>
                    <th>Adres</th>
                    <th>Telefon No</th>
                    <th>E-mail</th>
                    <th>Müşteri İşlem</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let customer of customers">
                    <td>{{customer.id}}</td>
                    <td>{{customer.customerName}}</td>
                    <td>{{customer.customerCode}}</td>
                    <td>{{customer.address}}</td>
                    <td>{{customer.phoneNumber}}</td>
                    <td>{{customer.email}}</td>
                    <td>
                        <button *ngIf="checkClaim('UpdateCustomerCommand')" type="button" (click)="selectCustomer(customer)">
                            Müşteriyi Düzenle
                        </button>

                        <button *ngIf="checkClaim('DeleteCustomerCommand')" type="button" (click)="deleteCustomer(customer)">
                            Müşteriyi Sil
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>